<h2>Here you can book appointment: </h2>

<p>Use form below:</p>

<p><b><%= @message %></b></p>

<form action="/visit" method="POST">

  <div class="form-group">
    <label>Enter your name:</label>
    <input name="user_name" type="text" class="form-control form_color" placeholder="Name">
  </div>

  <div class="form-group">
    <label>Enter your phone:</label>
    <input name="phone_number" type="text" class="form-control form_color" placeholder="Phone number">
  </div>

  <div class="form-group">
    <label>Enter date & time:</label>
    <input name="date_time" type="text" class="form-control form_color" placeholder="Date & time">
  </div>

  <div class="form-group">
    <label>Choose your barber:</label>
	    <select name="barber" class="form-control form_color">
		  <option>Walter White</option>
		  <option>Jessie Pinkman</option>
		  <option>Barney Stinson</option>
		  <option>Ted Mosby</option>
		</select>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript">
	
$(function () {
	$(".form_color").css("background-color", "#DAD8D8");
})

</script>