<h2>Here you can book appointment: </h2>

<p>Use form below:</p>

<p><b><%= @message %></b></p>

<form action="/visit" method="POST">

  <div class="form-group">
    <label>Enter your name:</label>
    <input name="user_name" type="text" class="form-control form_color" placeholder="Name">
  </div>

  <div class="form-group">
    <label>Enter your phone:</label>
    <input name="phone_number" type="text" class="form-control form_color" placeholder="Phone number">
  </div>

  <div class="form-group">
    <label>Enter date & time:</label>
    <input name="date_time" type="text" class="form-control form_color" placeholder="Date & time">
  </div>

  <div class="form-group">
    <label>Choose your barber:</label>
	    <select name="barber" class="form-control form_color">
		  <option>Walter White</option>
		  <option>Jessie Pinkman</option>
		  <option>Barney Stinson</option>
		  <option>Ted Mosby</option>
		</select>
  </div>

  <div class="form-group">
    <label>Choose your color:</label>
	    <select name="hair_color" id="color">
		  <option value="#7bd148">Green</option>
		  <option value="#5484ed">Bold blue</option>
		  <option value="#a4bdfc">Blue</option>
		  <option value="#46d6db">Turquoise</option>
		  <option value="#7ae7bf">Light green</option>
		  <option value="#51b749">Bold green</option>
		  <option value="#fbd75b">Yellow</option>
		  <option value="#ffb878">Orange</option>
		  <option value="#ff887c">Red</option>
		  <option value="#dc2127">Bold red</option>
		  <option value="#dbadff">Purple</option>
		  <option value="#e1e1e1">Gray</option>
		</select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript">
	
$(function () {
	$(".form_color").css("background-color", "#DAD8D8");
	$("#color").simplecolorpicker();
});

</script>